<table>
  <thead>
    <tr>
      <td>№</td>
      <td>Name</td>
      <td>Online</td>
      <td>Avatar</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Some text or picture</td>
      <td>Some text or picture</td>
      <td>Some text or picture</td>
      <td>Some text or picture</td>
    </tr>
    <tr>
      <td>Some text or picture</td>
      <td>Some text or picture</td>
      <td>Some text or picture</td>
      <td>Some text or picture</td>
    </tr>
    <tr>
      <td>Some text or picture</td>
      <td>Some text or picture</td>
      <td>Some text or picture</td>
      <td>Some text or picture</td>
    </tr>
    <tr>
      <td>Some text or picture</td>
      <td>Some text or picture</td>
      <td>Some text or picture</td>
      <td>Some text or picture</td>
    </tr>
  </tbody>
</table>